body{
    margin:0;
    font-family:'Raleway';
}

.radio blockquote{
    position: absolute;
    z-index: 1;
    font-size: 25px;
    color:white;
}

.radio img{
    position: absolute;

}
.radio img:nth-of-type(1){
    left:0;
    animation:move-out 3s ease-in-out 3s forwards;
}
.radio img:nth-of-type(2){
    right:-100%;
    animation:move-in 3s ease-in-out 3s forwards,
    move-out 3s ease-in-out 9s forwards;
}
.radio img:nth-of-type(3){
    right:-100%;
    animation:move-in 3s ease-in-out 9s forwards;
}
@keyframes move-in{
    from{
        right:-100%;
    }
    to{
        right:0;
    }
}
@keyframes move-out{
    from{
        left:0;
    }
    to{
        left:-100%;
    }
}
.radio{
    position: relative;
    height: 603px;
    overflow: hidden;
}
.radio{
    padding:0 !important;
}

.text{
    font-weight: bold;
    font-size: 4em;
    line-height: 2em;
    margin:0;
}
.item img{
    border-radius:60%;
}

.item{
    margin:50px;
    text-align:center;
    font-size:24px;
}

.player{
    margin-top:100px;
}
.content .title{
    font-size: 32px;
}
.content{
    font-size: 20px;
}
.content .story{
    font-size: 16px;
}
.records{
    margin-top:100px;
}
.list li{
    font-size: 18px;
    line-height: 50px;
    border-bottom:1px solid crimson ;
}
.control audio{
    display: block;
    width:100%;
}
.fake{
    background-color: black;
    height:10px;
}
.title{
    font-weight: 600;
}
.brand-logo{
    margin-left:5% ;       
}
.admin{
    margin-top: 100px;
}
.admin .plus{
    width:50%;
    margin:50px auto;
    transition: transform 0.1s;
}
.plus img:hover{
    transform: scale(1.05,1.05);
}
.addsong{
    margin-top: 100px;
}
.addsong button{
    border: 0;
}

nav{
    background-color: #14274e;
}

.player{
    color:white;
    position: fixed;
    height:100px;
    bottom: 0;
    background-color: #14274e;
    z-index: 1;
    width:100%;
    display: flex;
    align-items:center;
    margin:0;
}
.player-icon{
    padding:0 !important;
    margin-left: 0 !important;
    position: relative;
    top:3px;
}
.detail{
    padding-left: 20px !important;
}
.player-controls{
    display: inline-block;
    width:50%;
    padding-top: 20px !important;
}
.bar{
    margin:10px auto;
}

.player img{
    cursor: pointer;
}
.play img{
    margin:0 20px;
}
.volume{
    width:15%;
}
.volume img{
    position: relative;
    top:5px;
}


.volume{
    width:40%;
    cursor: pointer;
    margin-left:15px;
}

.seekbar-background{
    cursor: pointer;
    margin-left:15px;
    display: inline-block;
    background-color:#5b6883;
    height: 3px;
    width:80%;
    margin:4px 10px;
    border-radius: 5px;
}

.volume-seekbar-background{
    width: 55%;
}

#bar-control{
    height: 100%;
    background-color: white;
    /* width:50%; */
    z-index: 1;
}

#vol-bar-control{
    height: 100%;
    background-color: white;
    /* width:50%; */
    z-index: 1;
}

#currentTime, #duration, #vol-value{
    display: inline-block;
    width:30px;
}
.home-playlist{
    z-index: 1;
    top:100px;
}
